    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
     :root {
        --color-salmon: #F3826F;
        --gris-claro: #eee;
    }
    
    .menu li a,
    #contenedor-imagen p:first-child,
    h1.titulo,
    button,
    .imagen-Info p,
    .menu-comidas p a {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
    
    .contenido-contenedor-imagen h1,
    .contenido-contenedor-imagen p {
        color: var(--gris-claro);
    }
    
    #menu {
        background-color: var(--gris-claro);
        position: fixed;
        width: 100%;
    }
    
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
    }
    
    .menu>li a,
    .menu>li a:visited {
        margin: 20px;
        color: black;
        text-decoration: none;
    }
    
    .menu>li a:hover {
        color: var(--color-salmon);
        text-decoration: underline;
    }
    
    ul.menu {
        list-style-type: none;
    }
    
    #contenedor-imagen {
        background: url(images/restaurant.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    
    #contenedor-imagen {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contenido-contenedor-imagen {
        text-align: center;
    }
    
    .contenido-contenedor-imagen p:first-child,
    .contenido-contenedor-imagen p:nth-child(3) {
        font-weight: bold;
        size: 0.8em;
    }
    
    .contenido-contenedor-imagen h1 {
        font-size: 3em;
        margin: 10px 0px;
    }
    
    .discover {
        background-color: var(--color-salmon);
        color: var(--gris-claro);
    }
    
    button {
        padding: 10px;
        margin: 10px 0px;
        cursor: pointer;
    }
    /*--------------------------------------------*/
    
    .presentacion {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 90px 0px;
    }
    
    .imagen-Info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contenido-imagen-Info {
        color: var(--gris-claro);
    }
    
    .contenido-imagen-Info p {
        font-weight: bold;
    }
    
    .contenido-imagen-Info p:nth-child(3) {
        font-weight: normal;
        font-size: 0.8em;
    }
    
    .telefono {
        border: 1px solid var(--gris-claro);
        background-color: rgba(255, 255, 255, 0.137);
        padding: 10px 20px;
        margin: 10px 0px;
    }
    
    .telefono p:first-child {
        font-size: 0.8em;
        font-weight: normal;
    }
    
    .imagen-Izq {
        background: url(images/food1.jpg);
        width: 20%;
        height: 140px;
        background-size: cover;
    }
    
    .imagen-Info {
        background: var(--color-salmon);
        width: 20%;
        padding: 15px;
        background-size: cover;
        text-align: center;
    }
    
    .order {
        background-color: var(--gris-claro);
        color: var(--color-salmon);
    }
    
    .imagen-Der {
        background: url(images/food2.jpg);
        width: 20%;
        height: 140px;
        background-size: cover;
    }
    /*--------------------------------------------*/
    
    .menu-comidas {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 300px;
    }
    
    .menu-comidas>div>a>div {
        background-size: cover;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 20px;
        border: 5px solid var(--gris-claro);
    }
    
    .menu-comidas p a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 0.8em;
    }
    
    .breakfast-img {
        background: url(images/breakfast.jpg);
    }
    
    .lunch-img {
        background: url(images/lunch.jpg);
    }
    
    .dinner-img {
        background: url(images/dinner.jpg);
    }
    
    .desserts-img {
        background: url(images/dessert.jpg);
    }