* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: black;
}

.cabecera {
    position: relative;
    width: 90%;
    height: 6em;
    background-color: green;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    box-shadow: inset 0px -10px 10px yellow;
}

.texto {
    position: relative;
    top: 3em;
    transform: translateY(-50%);
}

h1 {
    font-size: 2em;
    text-shadow: 0.5px 0.5px white;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 5px 2px;
    padding: 0px 8px;
    border-radius: 3px;
    background: rgb(255, 255, 0);
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(253, 255, 0, 1) 100%);
    ;
}

.menu {
    position: absolute;
    right: 15px;
    bottom: 0px;
}