.contenedor {
    background-color: cyan;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.caja {
    background-color: orangered;
    color: white;
    width: 18%;
    text-align: center;
    line-height: 40px;
}