.contenedor {
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: auto;
    padding: 50px 0px;
    width: 400px;
}

.caja {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
    width: 80px;
    text-align: center;
    line-height: 80px;
}

.contenedor2 {
    background-color: darkblue;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    height: 200px;
    margin-top: 20px;
    width: 400px;
}

.caja2 {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
    width: 80px;
    text-align: center;
    line-height: 80px;
}