body{
	margin: 0;
	padding: 0;
	
}

div.container{
  margin: 0 auto;	
  font-size: 16px;
  max-width: 1024px;
  display: flex; /* Con flex se sitúan el article y el aside en la misma línea arriba del todo del contenedor */
  flex-wrap: wrap;  
  align-items: flex-start;
}

div.container nav {
  flex-basis: 100%;
  background-color: green;  
  padding: 1em;
  box-sizing: border-box;
}

div.container article {
  flex-basis: 70%;
  height: 31.25rem;
  background-color: blue;
  padding: 1em;
  box-sizing: border-box;
  background-image: url(img/content-is-like-water-5.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.container aside {
  flex-basis: 30%;
  background-color: red;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  div.container article {
    height: 25rem;
    background-image: url(img/content-is-like-water-3.jpg);
  }
}

@media all and (max-width: 240px) {
  div.container article {
    height: 12.5rem;
    background-image: url(img/content-is-like-water-1.jpg);
    flex-basis: 100%;  
  }
  div.container aside {
    flex-basis: 100%;
  }
}
