.caja {
    background-color: orangered;
    color: white;
    width: 18%;
    text-align: center;
    line-height: 40px;
}

.contenedor {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
}

.contenedor div:nth-child(3) {
    align-self: flex-start;
}

.contenedor2 {
    margin-top: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: flex-start;
}

.contenedor2 div:nth-child(3) {
    align-self: center;
}

.contenedor3 {
    margin-top: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.contenedor3 .caja:nth-of-type(1) {
    line-height: 20px;
}

.contenedor3 .caja:nth-of-type(2) {
    line-height: 30px;
}

.contenedor3 .caja:nth-of-type(3) {
    line-height: 50px;
}

.contenedor3 .caja:nth-of-type(4) {
    line-height: 60px;
}