body {
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1024px;
}

div.container nav {
    width: 100%;
    background-color: green;
    padding: 1em;
    box-sizing: border-box;
}

div.container article {
    width: 70%;
    height: 31.25rem;
    background-color: blue;
    padding: 1em;
    box-sizing: border-box;
    background-image: url(img/content-is-like-water-5.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.container aside {
    width: 30%;
    background-color: red;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    div.container nav {
        flex-basis: 100%;
    }
    div.container article {
        flex-basis: 70%;
        height: 20rem;
        background-size: contain;
        background-position: center;
    }
    div.container aside {
        flex-basis: 30%;
    }
}

@media (max-width: 240px) {
    div.container nav {
        flex-basis: 100%;
    }
    div.container article {
        flex-basis: 100%;
        height: 10rem;
        background-size: contain;
        background-position: center;
    }
    div.container aside {
        flex-basis: 100%;
    }
}