.contenedor {
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
}

.caja {
    background-color: orangered;
    color: white;
    width: 18%;
    text-align: center;
    line-height: 40px;
}

.contenedor2 {
    margin-top: 50px;
    background-color: cyan;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 100px;
    align-items: flex-end;
}