body {
    background: url(madrid.jpg) no-repeat;
    width: 300px;
    height: 100vh;
    background-position: top;
}

.caja {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    overflow: scroll;
}