body {
    margin: 0;
    padding: 0;
}

div.container {
    margin: 0 auto;
    font-size: 16px;
    max-width: 1024px;
}

div.container nav {
    width: 100%;
    background-color: green;
    padding: 1em;
    box-sizing: border-box;
}

div.container article {
    width: 100%;
    height: 12.5rem;
    background-color: blue;
    padding: 1em;
    box-sizing: border-box;
    background-image: url(img/content-is-like-water-1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.container aside {
    width: 100%;
    background-color: red;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
}

@media (min-width: 241px) {
    div.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.container nav {
        flex-basis: 100%;
    }
    div.container article {
        flex-basis: 70%;
        height: 20rem;
        background-size: contain;
        background-position: center;
    }
    div.container aside {
        height: 50px;
        flex-basis: 30%;
    }
}