* {
    margin: 0px 10px;
}

h1 {
    padding: 0.5px;
    margin: 1em 0;
    border: 2px solid blue;
}

li {
    margin: 1em;
}

h2 {
    border: 2px solid grey;
    margin: 0.75em 0em;
}

ul {
    border: 2px solid greenyellow;
}