div {
    box-sizing: border-box;
}

.row {
    border: 10px solid black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}

.element {
    border: 10px solid green;
    padding: 0.5em;
}

.image {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
}

.text {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
}

.row {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 100%;
}

@media (min-width: 270px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .row {
        grid-template-columns: repeat(6, 1fr);
    }
}