/*
<div class="contenedor">
        <div class="imagen"></div>
        <div class="item1"></div>
        <div class="item2"></div>
        <div class="item3"></div>
        <div class="item4"></div>
    </div>
    
  

  */

.contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 100px);
    grid-gap: 10px;
}

.imagen {
    background-image: url("../img/opera-small.jpg");
    background-size: cover;
    grid-row: 1/3;
}

.item {
    background-color: maroon;
    color: white;
}

@media only screen and (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
        grid-gap: 10px;
    }
    .imagen {
        background: url("../img/opera-medium.jpg"), blue;
        grid-column: 1/3;
        grid-row: 1/2;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (min-width: 992px) {
    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
        grid-gap: 10px;
    }
    .imagen {
        background: url("../img/opera-large.jpg"), blue;
        grid-column: 1/4;
        grid-row: 1/2;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .item4 {
        grid-column: 2/3;
    }
}